<app-navbar> </app-navbar>

<main class="flex items-center justify-center bg-mybg">

  <div class="w-4/5 mt-12 mb-96">

    <p class="font-semibold text-3xl mb-8 text-white"> Servicios </p>
    <details class=" shadow-lg rounded group mb-4">
      <summary class="list-none flex flex-wrap items-center cursor-pointer
    focus-visible:outline-none">
        <h3 class="flex flex-1 p- 4 font-semibold text-white h-12 items-center ml-3">Voz</h3>
        <div class="flex w-10 items-center justify-center">
          <div class="border-8 border-transparent border-l-gray-600 ml-2
        group-open:rotate-90 transition-transform origin-left
        "> </div>
        </div>
      </summary>
      <div class=" text-white  p-4">
        Llamar a :
        <select id="estado" class=" bg-mybg drop-shadow-xl text-white w-full rounded-md  h-10 my-2">
          <option value="90">Miguel</option>
          <option value="90">Ana</option>
          <option value="90">Abdiel</option>
          <option value="90">Leonel</option>
          <option value="90">Abigail</option>
          <option value="90">Andrés</option>
          <option value="90">Diego</option>
          <option value="90">Olivia</option>
        </select>
        <button
          class="my-8 bg-transparent hover:bg-gray-800 text-white font-semibold hover:text-white py-2 px-4  border-2 border-gray-800 hover:border-transparent rounded w-full">
          Llamar
        </button>
      </div>
    </details>

    <details class=" shadow-lg rounded group mb-4">
      <summary class="list-none flex flex-wrap items-center cursor-pointer
    focus-visible:outline-none focus-visible:ring focus-visible:ring-pink-500
    rounded group-open:rounded-b-none group-open:z-[1] relative
    ">
        <h3 class="flex flex-1 p-4 font-semibold text-white">SMS</h3>
        <div class="flex w-10 items-center justify-center">
          <div class="border-8 border-transparent border-l-gray-600 ml-2
        group-open:rotate-90 transition-transform origin-left
        "></div>
        </div>

      </summary>
      <div class=" text-white  p-4">
        Enviar SMS a :
        <select id="estado" class=" bg-mybg drop-shadow-xl text-white w-full rounded-md  h-10 my-2">
          <option value="90">Miguel</option>
          <option value="90">Ana</option>
          <option value="90">Abdiel</option>
          <option value="90">Leonel</option>
          <option value="90">Abigail</option>
          <option value="90">Andrés</option>
          <option value="90">Diego</option>
          <option value="90">Olivia</option>
        </select>
        <input class="w-full py-2 bg-mybg  text-white  border-white  border-1 px-1 my-4 rounded-sm">
        <button
          class="my-8 bg-transparent hover:bg-gray-800 text-white font-semibold hover:text-white py-2 px-4  border-2 border-gray-800 hover:border-transparent rounded w-full">
          Enviar
        </button>
      </div>
    </details>

    <details class=" shadow-lg rounded group mb-4">
      <summary class="list-none flex flex-wrap items-center cursor-pointer
    focus-visible:outline-none focus-visible:ring focus-visible:ring-pink-500
    rounded group-open:rounded-b-none group-open:z-[1] relative
    ">
        <h3 class="flex flex-1 p-4 font-semibold text-white"> MMS</h3>
        <div class="flex w-10 items-center justify-center">
          <div class="border-8 border-transparent border-l-gray-600 ml-2
        group-open:rotate-90 transition-transform origin-left
        "></div>
        </div>
      </summary>
      <div class=" text-white  p-4">
        Enviar MMS a :
        <select id="estado" class=" bg-mybg drop-shadow-xl text-white w-full rounded-md  h-10 my-2">
          <option value="90">Miguel</option>
          <option value="90">Ana</option>
          <option value="90">Abdiel</option>
          <option value="90">Leonel</option>
          <option value="90">Abigail</option>
          <option value="90">Andrés</option>
          <option value="90">Diego</option>
          <option value="90">Olivia</option>
        </select> <button
          class="my-8 bg-transparent hover:bg-gray-800 text-white font-semibold hover:text-white py-2 px-4  border-2 border-gray-800 hover:border-transparent rounded w-full">
          Enviar
        </button>
      </div>
    </details>
  </div>


</main>
