<!-- Etiqueta de Navegacion -->

<app-navbar> </app-navbar>

<main class="flex items-center justify-center bg-mybg">
  <div class="bg-white bg-opacity-10 w-4/5 p-2 rounded">
    <p class="ml-10 p-2 font-medium text-5xl  text-white"> {{idUsuario}} </p>

    <div class=" p-12 grid grid-cols-2 gap-10 ">
      <div class="font-medium text-white">Número de abonado:</div>
      <label class="text-white p-2 block">{{numAbonado}}</label>

      <div class="text-white font-medium ">MNC:</div>
      <label class="text-white p-2 block">{{mnc}} </label>

      <div class="text-white font-medium ">Compañía:</div>
      <label class="text-white p-2 block">{{mnc}} </label>

      <div class="text-white font-medium ">Tarifa:</div>
      <label class="text-white p-2 block">{{tipoPlan}} </label>

      <div class="text-white font-medium ">Equipo:</div>
      <label class="text-white p-2 block">{{idEquipo}}</label>

      <div class="text-white font-medium ">IMEI:</div>
      <label class="text-white p-2 block">{{imei}}</label>


    </div>
  </div>
</main>
